body {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    background-image: url('../img/leaves.png');
    font-size: 22px;
    text-align: center;
}

header {
    background-color: rgba(89, 150, 118,.75);
    margin: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: wheat;
    margin-bottom: 80px;
}

.container {
    margin: 0 auto;
}

section {
float: left;
width: 70%;
margin-bottom: 100px;
}

aside {
float: right;
width: 30%;
}

img {
    border: 10px dashed rgb(89, 150, 118);
    width: 450px;
}

footer {
    clear: both;
    background-color: rgba(89, 150, 118,.75);
    padding: 20px 0;
    text-align: center;
    margin-top: 80px;
}

h2 {
    text-align: center;
    background-color: rgba(140, 209, 173,.75);
    color: rgb(89, 150, 118);
    font-style: italic;
}

a {
    color: darkolivegreen;
    font-size: 30px;
    font-style:italic;

}
a:visited {
    color: darkmagenta;
}
a:hover {
    color:darkslategrey;
}


ul.myUL {
    display: inline-block
}   

ul {
    list-style-image: url(../img/cat.png);
    list-style-position: inside;
}

ol {
    list-style-position: inside;
}