body {
    font-family: font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", sans-serif;
    background-image: url(img/leaves.png);
    font-size: 22px;
}

h1 {
    text-align: center;
    background-color: rgba(210, 105, 30, 0.678);
    color: blueviolet;
    font-style: italic;
    font-size: 60px;
    padding: 60px;
}

h2 {
    text-align: center;
    background-color: rgba(137, 43, 226, 0.397);
    color: chocolate;
    font-style: italic;
}

a {
    color: darkolivegreen;
    font-size: 30px;
    font-style:italic;

}
a:visited {
    color: darkmagenta;
}
a:hover {
    color:darkslategrey;
}

div {
    text-align: center;
}


ul.myUL {
    display: inline-block
}   
